/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  @extend %rounded-rectangular-border;
  @extend %standard-button;
}

// only submit button should have bottom margin, on mobile atleast
.btn[type="submit"] {
  @include mq("tablet") {
    margin-bottom: 0;
  }

  margin-bottom: 2rem;
}

@each $button-type, $color in $color-buttons {
  .#{$button-type} {
    background-color: $color;

    &:hover {
      background-color: lighten($color: $color, $amount: 15%);
    }
  }
}

.transparent {
  // because we want to be able to see the svg bell
  background: none;
  border: none;
}