/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  @extend %rounded-rectangular-border;
  @extend %standard-button;
}

// only submit button should have bottom margin
.btn[type="submit"] {
  margin-bottom: 2rem;
}

@each $button-type, $color in $color-buttons {
  .#{$button-type} {
    background-color: $color;

    &:hover {
      background-color: lighten($color: $color, $amount: 15%);
    }
  }
}