/* ============================================= */
/*              Images                           */
/* ============================================= */

.img {
  
  &-avatar {
    @include dimensions($size-icon, $size-icon);
    @extend %rounded;
  }

  &-nav {
    @include dimensions($size-icon, $size-icon);
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.5;
    }
  }

  &-frame {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 100%;
    padding: 13px;
    border: 1px solid #ccc;
  }

  &-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ============================================= */
/*              SVGs                             */
/* ============================================= */

.svg {
  &-button {
    @include dimensions($size-icon-alert, $size-icon-alert);
  }


  &-badge {
    @extend %rounded;
    @include dimensions($size-badge, $size-badge);
    padding: 1rem;
    background-color: $color-primary;
    grid-area: badge;

    & path {
      fill: $color-white;
    }
  }

  &-rotates {
    transition: transform 0.2s;

    &:hover {
      transform: rotate(30deg);
    }
  }

}