/* ============================================= */
/*              Navigation                       */
/* ============================================= */

.nav {
  @include mq("desktop") {
    flex-direction: column;
  }

  display: flex;
  justify-content: space-around;

  &-item {
    padding: 0.5rem;
    border: $size-highlight-border transparent solid;
  }
}

.active {
  @include mq("desktop") {
    border-bottom: $size-highlight-border transparent solid;
    border-left: $size-highlight-border $color-accent solid;
  }
  
  border-bottom: $size-highlight-border $color-accent solid;
}

.traffic-nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;

  &-link {
    padding: 0.5rem;
  }
}

.selected {
  color: $color-white;
  background-color: $color-accent;
  border-radius: $size-selected-border-radius;
}