.header-area {
    @include flexy("row");
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    background-color: $color-primary;
}

.notification-panel {
    margin-left: auto;
    margin-right: 1rem;
}

.profile-panel {
    @include flexy("row");
    align-items: center;
    border-left: $size-separator lightgray dashed;
    padding-left: 1rem;
}

.nav-area {
    background-color: $color-secondary;
}

.main-area {
    padding: 1rem;
    // todo: maybe need to remove padding on desktop layout
}

.main-header {
    @extend %widget-bottom-margin;
}

.alert-header {
    @extend %rounded-rectangular-border;
    @extend %widget-bottom-margin;
    background-color: $color-primary;
}

.alert-banner {
    @include flexy("row");
    padding: 1rem;
}

.traffic {
    @extend %widget-bottom-margin;
    border-bottom: $size-separator solid $color-secondary;
}

.daily {
    @extend %widget-bottom-margin;
    border-bottom: $size-separator solid $color-secondary;
}

.platform {
    @extend %widget-bottom-margin;
    border-bottom: $size-separator solid $color-secondary;
}

.widget-container {
    &-full {
        margin-bottom: 2rem;
    }

    &-half {
        margin-bottom: 2rem;
    }
}

.social {
    @extend %widget-bottom-margin;
    border-bottom: $size-separator solid $color-secondary;

    &-container {
        @extend %rounded-rectangular-border;
        padding: 1rem;
        margin-bottom: 2rem;
        background-color: $color-lightgray;
        border: $size-social-container-border $color-gray solid;
        display: grid;
        grid-template-columns: minmax(50px, 1fr) minmax(75px, 2fr);
        grid-gap: $size-social-grid-gap;
        grid-template-areas: 
        "badge label"
        "badge count";
    }
}

.members {
    @extend %widget-bottom-margin;
    border-bottom: $size-separator solid $color-secondary;

    &-container {
        @include flexy("row");
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        border-bottom: $size-separator solid $color-anothergray;

        &:last-child {
            border: none;
            margin-bottom: 1rem;
        }
    }

    &-text {
        margin-left: 1rem;
    }
}

.activity {
    @extend %widget-bottom-margin;
    border-bottom: $size-separator solid $color-secondary;

    &-container {
        @include flexy("row");
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        border-bottom: $size-separator solid $color-anothergray;

        &:last-child {
            border: none;
            margin-bottom: 1rem;
        }
    }

    &-text {
        margin-left: 1rem;
    }
}

.message {
    @extend %widget-bottom-margin;
    border-bottom: $size-separator solid $color-secondary;
}

.settings {
    @extend %widget-bottom-margin;

    &-buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    &-switch-wrapper {
        @include flexy("row");
        justify-content: space-between;
        margin-bottom: 1rem;
    }
}
