.header-area {
    @include flexy("row");
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    background-color: $color-primary;
}

.notification {

    &-panel {
        margin-left: auto;
        margin-right: 1rem;
    }

    &-button {
        position: relative;
    }

    &-dot {
        @extend %rounded;
        position: absolute;
        border: $size-border-notification-dot solid $color-accent;
        top: -7%;
        right: 15%;
    }

    &-entries {
        display: none;
        background-color: $color-white;
        border: $size-highlight-border solid $color-lightgray;
        border-radius: $size-input-border-radius;
        padding: 1rem;
        position: absolute;
        top: 8%;
        right: 5%;
    }

    &-entry {
        @include flexy("row");
        justify-content: space-between;
        align-items: center;
        border-bottom: $size-separator solid $color-primary;
        padding-bottom: 1rem;
        margin-bottom: 1rem;

        &:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
            border: none;
        }

        & button {
            margin-left: 2rem;
        }
    }
    
}

.profile-panel {
    @include flexy("row");
    align-items: center;
    border-left: $size-separator lightgray dashed;
    padding-left: 1rem;
}

.nav-area {
    background-color: $color-secondary;
}

.main-area {
    @include mq("tablet") {
        padding: 0;
    }
    padding: 1rem;
}

.main-header {
    @extend %widget-bottom-margin;
    @include mq("tablet") {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color-lightgray;
    }
}

.alert-header {
    @extend %rounded-rectangular-border;
    @extend %widget-bottom-margin;
    background-color: $color-primary;

    @include mq("tablet") {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.alert-banner {
    @include flexy("row");
    justify-content: space-between;
    padding: 1rem;
}

.traffic {
    @extend %widget-bottom-margin;
    @include mq("tablet") {
        padding: 1rem 1rem 0;
        margin-bottom: 0;
    }

    border-bottom: $size-separator solid $color-secondary;

    &-header {
        @include mq("tablet") {
            display: flex;
            justify-content: space-between;
        }
    }
}

.daily {
    @extend %widget-bottom-margin;
    @include mq("tablet") {
        margin-bottom: 0;
        padding: 1rem 1rem 0;
        border-right: $size-separator solid $color-secondary;
    }

    border-bottom: $size-separator solid $color-secondary;
}

.platform {
    @extend %widget-bottom-margin;
    @include mq("tablet") {
        margin-bottom: 0;
        padding: 1rem 1rem 0;
    }
    border-bottom: $size-separator solid $color-secondary;
}

.widget-container {
    &-full {
        margin-bottom: 2rem;
    }

    &-half {
        margin-bottom: 2rem;
    }
}

.social {
    @extend %widget-bottom-margin;
    @include mq("tablet") {
        margin-bottom: 0;
        padding: 1rem 1rem 0;
    }

    border-bottom: $size-separator solid $color-secondary;

    &-cards {
        @include mq("tablet") {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1rem;
        }
    }

    &-card {
        @extend %rounded-rectangular-border;
        @include mq("tablet") {
            grid-column-gap: 2rem;
        }
        padding: 1rem;
        margin-bottom: 2rem;
        background-color: $color-lightgray;
        border: $size-social-container-border $color-gray solid;
        display: grid;
        grid-template-columns: minmax(50px, 1fr) minmax(75px, 2fr);
        grid-gap: $size-social-grid-gap;
        grid-template-areas: 
        "badge label"
        "badge count";
    }
}

.members {
    @extend %widget-bottom-margin;
    @include mq("tablet") {
        margin-bottom: 0;
        padding: 1rem 1rem 0;
        border-right: $size-separator solid $color-secondary;
    }

    border-bottom: $size-separator solid $color-secondary;

    &-container {
        @include flexy("row");
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        border-bottom: $size-separator solid $color-anothergray;

        &:last-child {
            border: none;
            margin-bottom: 1rem;
        }
    }

    &-text {
        margin-left: 1rem;
    }
}

.activity {
    @extend %widget-bottom-margin;
    @include mq("tablet") {
        margin-bottom: 0;
        padding: 1rem 1rem 0;
    }

    border-bottom: $size-separator solid $color-secondary;

    &-container {
        @include flexy("row");
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        border-bottom: $size-separator solid $color-anothergray;

        &:last-child {
            border: none;
            margin-bottom: 1rem;
        }
    }

    &-text {
        margin-left: 1rem;
    }
}

.message {
    @extend %widget-bottom-margin;
    @include mq("tablet") {
        margin-bottom: 0;
        padding: 1rem;
        border-right: $size-separator solid $color-secondary;
        border-bottom: none;
    }
    border-bottom: $size-separator solid $color-secondary;
}

.settings {
    @extend %widget-bottom-margin;
    @include mq("tablet") {
        margin-bottom: 0;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    &-switch-wrapper {
        @include flexy("row");
        justify-content: space-between;
        margin-bottom: 1rem;
    }
}
