/* ============================================= */
/*              Font stack                       */
/* ============================================= */

// Import Google font
@if variable-exists(font-url--google) {
  @import url($font-url--google);
}

/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  font-family: $font-family--primary;
  // color: $color-primary;
  box-sizing: border-box;
}

p {
  // line-height: 1.45em;
}
  
a {
  text-decoration: none;
  color: $color-black;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: $color-gray;
}
  
/* ============================================= */
/*              Typography                       */
/* ============================================= */

.title {
  color: $color-white;
  font-size: $size-title;
}

.thin {
  font-weight: $font-weight-thin;
  font-size: small;
  vertical-align: top;
}

.name {
  color: $color-white;
  margin-left: 1rem;
}

.text {
  &-primary {
    font-size: 1rem;
  }

  &-secondary {
    font-size: 0.85rem;
  }
}
  
.headline {

  &-primary {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.5rem;

    &.tab {
      @include mq("tablet") {
        margin-bottom: 0;
        padding: 1rem;
        background-color: $color-white;
      }
    }
  }

  &-secondary {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.3rem;
  }

}

.alert-banner {
  &-message {
    color: $color-white;
  }

  &-close {
    color: $color-white;
  }
}

.social {
  &-text {
    font-size: $size-social-text;
    grid-area: label;
    color: $color-primary;
    font-weight: bold;
  }

  &-count {
    font-size: $size-social-count;
    grid-area: count;

  }
}

.link {
  color: $color-primary;
}

.accessory {
  margin-left: auto;
}